<div class="menu-item" id="sidebar" style="min-width: 50px;" *ngIf="!leftMenuHidden">
  <button mat-button (click)="onNavigate()"
      fxLayout="row" fxLayoutAlign="start center"
      matTooltipPosition="after" matTooltipDisabled="true"
      routerLink="dashboard" routerLinkActive="active-link"
      >
      <span class="menu-title">Home</span>
  </button>
  <button mat-button (click)="onNavigate()"
      fxLayout="row" fxLayoutAlign="start center"
      routerLink="settings" routerLinkActive="active-link"
      matTooltipPosition="after" matTooltipDisabled="true"
      >
      <span >Settings</span>
  </button>
  <button mat-button (click)="onNavigate()"
      fxLayout="row" fxLayoutAlign="start center"
      routerLink="password" routerLinkActive="active-link"
      matTooltipPosition="after" matTooltipDisabled="true"
      >
      <span class="menu-title">Password</span>
  </button>
  <button mat-button
      fxLayout="row" fxLayoutAlign="start center"
      matTooltipPosition="after" matTooltipDisabled="true"
      (click)="toggleInventory()"
      >
      <span class="menu-title">Inventory</span>
      <mat-icon class="menu-icon">{{showInventory ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
  </button>
  <div *ngIf="showInventory">
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="search" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <mat-icon class="menu-icon">search</mat-icon>
        <span class="menu-title">Search</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="adjust" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <mat-icon class="menu-icon">swap_vert</mat-icon>
        <span class="menu-title">Adjust</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="move" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <mat-icon class="menu-icon">arrow_right_alt</mat-icon>
        <span class="menu-title">Move</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="change" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <mat-icon class="menu-icon">autorenew</mat-icon>
        <span class="menu-title">Change</span>
    </button>
  </div>
  <button mat-button *jhiHasAnyAuthority="'ROLE_ADMIN'"
      fxLayout="row" fxLayoutAlign="start center"
      matTooltipPosition="after" matTooltipDisabled="true"
      (click)="toggleAdmin()"
      >
      <span class="menu-title">Admin</span>
      <mat-icon class="menu-icon">{{showAdmin ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
  </button>
  <div *ngIf="showAdmin">
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/user-management" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="user" fixedWidth="true"></fa-icon>
        <span class="menu-title">Users</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/jhi-metrics" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
        <span class="menu-title">Metrics</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/jhi-health" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="heart" fixedWidth="true"></fa-icon>
        <span class="menu-title">Health</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/jhi-configuration" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="list" fixedWidth="true"></fa-icon>
        <span class="menu-title">Config</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/audits" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="bell" fixedWidth="true"></fa-icon>
        <span class="menu-title">Audits</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/logs" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
        <span class="menu-title">Logs</span>
    </button>
    <button mat-button (click)="onNavigate()"
        fxLayout="row" fxLayoutAlign="start center"
        routerLink="admin/docs" routerLinkActive="active-link"
        matTooltipPosition="after" matTooltipDisabled="true"
        >
        <fa-icon icon="book" fixedWidth="true"></fa-icon>
        <span class="menu-title">API</span>
    </button>
  </div>
</div>
