<h2>Inventory Search</h2>


<div class="row" style="margin-top: 5px;">
  <div class="col-10 form-group">
      <input type="text" class="form-control" (change)="onChange($event)" [value]="basicSearchInput" placeholder="Search">
  </div>
  <div class="col-1">
    <button mat-icon-button (click)="basicSearch()"><mat-icon class="menu-icon">search</mat-icon></button>
  </div>
  <div class="col-1">
    <button mat-icon-button (click)="toggleAdvanced()"><mat-icon class="menu-icon">keyboard_arrow_down</mat-icon></button>
  </div>
</div>

<div [className]="highlightList.length > 0 ? 'action-buttons' : 'action-buttons-closed'">
  <button mat-icon-button [disabled]="highlightList.length === 0"><mat-icon class="menu-icon">swap_vert</mat-icon></button>
  <button mat-icon-button [disabled]="highlightList.length === 0"><mat-icon class="menu-icon">arrow_right_alt</mat-icon></button>
  <button mat-icon-button [disabled]="highlightList.length === 0"><mat-icon class="menu-icon">autorenew</mat-icon></button>
</div>

<div class="wrapper">
  <mat-card [@slideInOut]="animationState" style="position: absolute; z-index: 1; margin-left: 4px; opacity: 0;">
    <form novalidate [formGroup]="advancedSearchForm">
      <div class="row">
        <div class="form-group col">
            <label class="form-control-label">Item #</label>
            <input type="text" class="form-control" formControlName="itemNum" placeholder="Item #">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Class</label>
            <input type="text" class="form-control" formControlName="productClass" placeholder="Class">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Location #</label>
            <input type="text" class="form-control" formControlName="locationNum" placeholder="Location #">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Zone #</label>
            <input type="text" class="form-control" formControlName="zoneNum" placeholder="Zone #">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
            <label class="form-control-label">LPN #</label>
            <input type="text" class="form-control" formControlName="lpnNum" placeholder="LPN #">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Batch #</label>
            <input type="text" class="form-control" formControlName="batchNum" placeholder="Batch #">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Revision #</label>
            <input type="text" class="form-control" formControlName="revisionNum" placeholder="Revision #">
        </div>
        <div class="form-group col">
            <label class="form-control-label">Country</label>
            <input type="text" class="form-control" formControlName="countryOfOrigin" placeholder="Country">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
            <label class="form-control-label">Segment #</label>
            <input type="text" class="form-control" formControlName="segmentNum" placeholder="Segment #" >
        </div>
        <div class="form-group col-4">
            <label class="form-control-label">Serial #</label>
            <input type="text" class="form-control" formControlName="serialNum" placeholder="Serial #">
        </div>
        <div class="form-group col-2">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="margin-top: 30px;">Submit</button>
        </div>
        <div class="form-group col-2">
          <button type="submit" class="btn btn-primary" (click)="openDialog()" style="margin-top: 30px; margin-left: -20px;">Save Filter</button>
        </div>
      </div>
      <div class="row" style="max-height: 200px; overflow: auto;">
        <div class="col">
          <a (click)="toggleFilters()" style="margin-left: 20px;">Filters</a>
          <mat-list *ngIf="showFilters" role="list">
            <mat-list-item *ngFor="let filter of filters; index as i" role="listitem">
              <a (click)="deleteFilter(i)"><mat-icon color="warn">close</mat-icon></a>
              <a style="margin-left: 5px;" (click)="selectFilter(filter.terms)" ><h6>{{filter.name}}</h6></a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </form>
  </mat-card>
</div>

<div fxLayout="column">
  <div class="flex-p">
    <mat-card style="height: 450px; overflow: auto;" (scroll)="onScroll($event)">
      <table>
        <ng-container *ngFor="let product of products; index as i;">
          <tr [className]="highlightList.indexOf(i) != -1 ? 'highlight' : 'table-item'" (click)="selectItem(i)">
            <td>
              Location #: {{product._source.locationNum}}<br />
              Zone #: {{product._source.zoneNum}}<br />
            </td>
            <td>
              Item #: {{product._source.itemNum}}<br />
              Class: {{product._source.productClass}}<br />
            </td>
            <td>
              UOM: {{product._source.uom}}<br />
              Status: {{product._source.inventoryStatus}}<br />
            </td>
            <td>
              <div class="fade-in">
                <button mat-icon-button (click)="moveWithParams($event, '/adjust', product._source)"><mat-icon class="menu-icon">swap_vert</mat-icon></button>
                <button mat-icon-button (click)="moveWithParams($event, '/move', product._source)"><mat-icon class="menu-icon">arrow_right_alt</mat-icon></button>
                <button mat-icon-button (click)="moveWithParams($event, '/change', product._source)"><mat-icon class="menu-icon">autorenew</mat-icon></button>
                <button mat-icon-button (click)="toggleDetails($event, i)"><mat-icon class="menu-icon">more</mat-icon></button>
              </div>
            </td>
          </tr>
          <tr class="table-detail" *ngIf="i === currentDetail">
            <td>
              Organization: {{(product._source.orgNum || 'N/a')}}<br />
              Facility: {{(product._source.facilityNum || 'N/a')}}<br />
              LOT #: {{(product._source.lotNum || 'N/a')}}<br />
              Batch #: {{(product._source.batchNum || 'N/a')}}<br />
              Revision #: {{(product._source.revisionNum || 'N/a')}}<br />
            </td>
            <td>
              Inventory Status: {{(product._source.inventoryStatus || 'N/a')}}<br />
              Quantity: {{(product._source.quantity || 'N/a')}}<br />
              Move In: {{(product._source.moveInQty || 'N/a')}}<br />
              Move Out: {{(product._source.moveOutQty || 'N/a')}}<br />
              Country of Origin: {{(product._source.countryOfOrigin || 'N/a')}}<br />
            </td>
            <td>
              LPN #: {{(product._source.lpnNum || 'N/a')}}<br />
              LPN Type: {{(product._source.lpnType || 'N/a')}}<br />
              Parent LPN: {{(product._source.parentLpnNum || 'N/a')}}<br />
              Segment Type: {{(product._source.segmentType || 'N/a')}}<br />
              Segment #: {{(product._source.segmentNum || 'N/a')}}<br />
            </td>
            <td>
              Shipment #: {{(product._source.shipmentNum || 'N/a')}}<br />
              Ship By Date: {{(product._source.shipByDate || 'N/a')}}<br />
              Receipt Date: {{(product._source.receiptDate || 'N/a')}}<br />
              Manufactured Date: {{(product._source.manufacturedDate || 'N/a')}}<br />
            </td>
          </tr>
        </ng-container>
      </table>
    </mat-card>
    <p class="error-message" style="text-align: center; margin-top: 10px;" *ngIf="products.length === 0">There are no results which match your query</p>
  </div>
</div>
