<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<jhi-navbar (onLogout)="onLogout()" (toggleBtnLeftMenuEvent)="toggleBtnLeftMenuEvent($event)" [leftMenuHidden]="leftMenuHidden"></jhi-navbar>

<div class="wrapper">
  <jhi-left-side-menu class="sidemenu" (elementClicked)="toggleBtnLeftMenuEvent($event)" [leftMenuHidden]="leftMenuHidden"></jhi-left-side-menu>
  <div class="container-fluid">
    <div class="card jh-card">
      <router-outlet></router-outlet>
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>
