<div [ngSwitch]="isAuthenticated()">
  <mat-toolbar color="primary">
    <button *ngSwitchCase="true" mat-icon-button (click)="toggleLeftMenu()">
      <fa-icon icon="bars" fixedWidth="true"></fa-icon>
    </button>
    Gateway
    <input *ngSwitchCase="true" type="text" class="form-control" (ngModelChange)="onChange($event)" [(ngModel)]="navInput" style="width: 250px; margin-left: 30px;" placeholder="Navigation">
    <mat-card *ngIf="showSuggestions" style="position: absolute; min-width: 251px; z-index: 2; left: 164px; top: 50px;">
      <mat-list>
        <a><mat-list-item *ngFor="let suggestion of suggestions" [routerLink]="suggestion.routerLink" (click)="navInput = ''">{{suggestion.name}}</mat-list-item></a>
      </mat-list>
    </mat-card>
    <span class="fill-remaining-space"></span>
    <button *ngSwitchCase="true" mat-icon-button>
      <fa-icon icon="bell" fixedWidth="true"></fa-icon>
    </button>
    <button *ngSwitchCase="true" mat-icon-button (click)="logout()">
      <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
    </button>
    <button *ngSwitchCase="false" mat-icon-button (click)="login()">
      <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
    </button>
    <button *ngSwitchCase="false" routerLink="register" mat-icon-button>
      <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
    </button>
  </mat-toolbar>
</div>
