<h2 style="margin-bottom: 20px;">Move Inventory</h2>

<div  class="action-form">
  <mat-card>
    <mat-card-title>
      <a (click)="moveToStage(1, true)">Step 1: Source Details</a>
    </mat-card-title>
    <mat-card-subtitle>
      Enter the Source Details
    </mat-card-subtitle>
    <mat-card-content *ngIf="stage === 1">
      <form novalidate [formGroup]="stageOneForm">
        <div class="row">
          <div class="form-group col">
              <label class="form-control-label">Company *</label>
              <input type="text" formControlName="orgNum" class="form-control" placeholder="Company">
          </div>
          <div class="form-group col">
              <label class="form-control-label" for="label">Facility *</label>
              <input type="text" formControlName="facilityNum" class="form-control" placeholder="Zone #">
          </div>
          <div class="form-group col">
              <label class="form-control-label" for="label">Location *</label>
              <input type="text" formControlName="locationNum" class="form-control" placeholder="Location">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
              <label class="form-control-label" for="label">Item # *</label>
              <input type="text" formControlName="itemNum" class="form-control" placeholder="Item #">
          </div>
          <div class="form-group col">
              <label class="form-control-label" for="label">LPN</label>
              <input type="text" formControlName="lpnNum" class="form-control" placeholder="LPN">
          </div>
          <div class="form-group col select-style">
            <label class="form-control-label" for="label">LPN Type</label><br />
            <select formControlName="lpnType">
              <option value="">Select...</option>
              <option value="pallet">PALLET</option>
              <option value="case">CASE</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
              <label class="form-control-label" for="label">Product Class</label>
              <input type="text" formControlName="productClass" class="form-control" placeholder="Product Class">
          </div>
          <div class="form-group col select-style">
            <label class="form-control-label" for="label">UOM *</label><br />
            <select formControlName="uom">
              <option value="">Select...</option>
              <option value="roll">ROLL</option>
              <option value="each">EACH</option>
              <option value="pc">PC</option>
            </select>
          </div>
          <div class="form-group col select-style">
            <label class="form-control-label" for="label">Inventory Status *</label><br />
            <select formControlName="inventoryStatus">
              <option value="">Select...</option>
              <option value="held">HELD</option>
              <option value="onhand">ONHAND</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary" [disabled]="!stageOneForm.valid" (click)="moveToStage(2)">Next</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<mat-card class="action-form">
  <mat-card-title>
    <a (click)="moveToStage(2, true)">Step 2: Additional Details</a>
  </mat-card-title>
  <mat-card-subtitle>
    Enter any Additional Details
  </mat-card-subtitle>
  <mat-card-content *ngIf="stage === 2">
    <form [formGroup]="stageTwoForm">
      <div class="row">
        <div class="form-group col">
            <label class="form-control-label">Shipment #</label>
            <input type="text" formControlName="shipmentNum" class="form-control" placeholder="Shipment #">
        </div>
        <div class="form-group col">
            <label class="form-control-label" for="label">Receipt Date</label>
            <input type="text" formControlName="receiptDate" class="form-control" placeholder="Receipt Date">
        </div>
        <div class="form-group col">
            <label class="form-control-label" for="label">Manufacturing Date</label>
            <input type="text" formControlName="manufacturedDate" class="form-control" placeholder="Manufacturing Date">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
            <label class="form-control-label" for="label">Ship By Date</label>
            <input type="text" formControlName="shipByDate" class="form-control" placeholder="Ship By Date">
        </div>
        <div class="form-group col">
            <label class="form-control-label" for="label">Segment #</label>
            <input type="text" formControlName="segmentNum" class="form-control" placeholder="Segment #">
        </div>
        <div class="form-group col select-style">
          <label class="form-control-label" for="label">Segment Type</label><br />
          <select formControlName="segmentType">
            <option value="">Select...</option>
            <option value="mto">MTO</option>
            <option value="mtc">MTC</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
            <label class="form-control-label" for="label">CoO</label>
            <input type="text" formControlName="countryOfOrigin" class="form-control" placeholder="Country of Origin">
        </div>
        <div class="form-group col-8">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <button class="btn btn-primary" (click)="moveToStage(1)">Back</button>
        </div>
        <div class="col-9">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary" (click)="moveToStage(3)">Next</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="action-form">
  <mat-card-title>
    <a (click)="moveToStage(3, true)">Step 3: Adjustment Details</a>
  </mat-card-title>
  <mat-card-subtitle>
    Enter Adjustment Details
  </mat-card-subtitle>
  <mat-card-content *ngIf="stage === 3">
    <form [formGroup]="stageThreeForm">
      <div class="row">
        <div class="form-group col-4">
            <label class="form-control-label">Batch #</label>
            <input type="text" formControlName="batchNum" class="form-control" placeholder="Batch #">
        </div>
        <div class="form-group col-4">
            <label class="form-control-label">Lot #</label>
            <input type="text" formControlName="lotNum" class="form-control" placeholder="Lot #">
        </div>
        <div class="form-group col-4">
            <label class="form-control-label">Revision #</label>
            <input type="text" formControlName="revisionNum" class="form-control" placeholder="Revision #">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
            <label class="form-control-label">Inventory Attr 1</label>
            <input type="text" formControlName="inventoryAttribute1" class="form-control" placeholder="Inventory Attr 1">
        </div>
        <div class="form-group col">
            <label class="form-control-label" for="label">Inventory Attr 2</label>
            <input type="text" formControlName="inventoryAttribute2" class="form-control" placeholder="Inventory Attr 2">
        </div>
        <div class="form-group col">
            <label class="form-control-label" for="label">Inventory Attr 3</label>
            <input type="text" formControlName="inventoryAttribute3" class="form-control" placeholder="Inventory Attr 3">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
            <label class="form-control-label">Inventory Attr 4</label>
            <input type="text" formControlName="inventoryAttribute4" class="form-control" placeholder="Inventory Attr 4">
        </div>
        <div class="form-group col-4">
            <label class="form-control-label" for="label">Inventory Attr 5</label>
            <input type="text" formControlName="inventoryAttribute5" class="form-control" placeholder="Inventory Attr 5">
        </div>
        <div class="form-group col-4">
          <label class="form-control-label" for="label">Quantity</label>
          <input type="number" min="1" formControlName="quantity" class="form-control" placeholder="Quantity">
        </div>
      </div>
    </form>
    <div class="row" *ngIf="isSer">
      <div class="form-group col-1">
      </div>
      <div class="form-group col-3">
        <label class="form-control-label">Serial ID</label>
      </div>
      <div class="form-group col-2">
        <label class="form-control-label">Sec Ser 1</label>
      </div>
      <div class="form-group col-2">
        <label class="form-control-label">Sec Ser 2</label>
      </div>
      <div class="form-group col-2">
        <label class="form-control-label">Sec Ser 3</label>
      </div>
      <div class="form-group col-2">
        <label class="form-control-label">Sec Ser 4</label>
      </div>
    </div>
    <div class="row" *ngFor="let element of serialInputs; index as i">
      <div class="form-group col-1">
        <a style="margin-left: 27px; color: #ff3300" (click)="deleteSerialInput(i)">X</a>
      </div>
      <div class="form-group col-3">
        <input type="text" class="form-control" [(ngModel)]="element.serialId" placeholder="Serial ID">
      </div>
      <div class="form-group col-2">
        <input type="text" class="form-control" [(ngModel)]="element.secSer1" placeholder="Sec Ser 1">
      </div>
      <div class="form-group col-2">
        <input type="text" class="form-control" [(ngModel)]="element.secSer2" placeholder="Sec Ser 2">
      </div>
      <div class="form-group col-2">
        <input type="text" class="form-control" [(ngModel)]="element.secSer3" placeholder="Sec Ser 3">
      </div>
      <div class="form-group col-2">
        <input type="text" class="form-control" [(ngModel)]="element.secSer4" placeholder="Sec Ser 4">
      </div>
    </div>
    <div class="row" *ngIf="isSer">
      <div class="form-group col-1">
        <a style="margin-left: 27px;" (click)="newSerialInput()">+</a>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <button class="btn btn-primary" (click)="moveToStage(2)">Back</button>
      </div>
      <div class="col-9">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="moveToStage(4)">Next</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="action-form">
  <mat-card-title>
    <a (click)="moveToStage(4, true)">Step 4: Move Information</a>
  </mat-card-title>
  <mat-card-subtitle>
    Enter where you are moving the item
  </mat-card-subtitle>
  <mat-card-content *ngIf="stage === 4">
    <form [formGroup]="stageFourForm">
      <div class="row">
        <div class="form-group col-4">
            <label class="form-control-label">Location #</label>
            <input type="text" formControlName="locationNum" class="form-control" placeholder="Location #">
        </div>
        <div class="form-group col-4">
            <label class="form-control-label" for="label">LPN</label>
            <input type="text" formControlName="lpnNum" class="form-control" placeholder="LPN">
        </div>
        <div class="form-group col-4 select-style">
          <label class="form-control-label" for="label">LPN Type</label><br />
          <select formControlName="lpnType">
            <option value="">Select</option>
            <option value="pallet">PALLET</option>
            <option value="case">CASE</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <button class="btn btn-primary" (click)="moveToStage(3)">Back</button>
        </div>
        <div class="col-9">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary" [disabled]="!stageFourForm.valid"  (click)="moveToStage(5)">Next</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="action-form">
  <mat-card-title>
    <a (click)="moveToStage(5, true)">Step 5: Audit</a>
  </mat-card-title>
  <mat-card-subtitle>
    Enter Audit Information
  </mat-card-subtitle>
  <mat-card-content *ngIf="stage === 5">
    <form [formGroup]="stageFiveForm">
      <div class="form-group">
          <label class="form-control-label">Audit Code</label>
          <input type="text" formControlName="auditCode" class="form-control" placeholder="Audit Code">
      </div>
      <div class="form-group">
          <label class="form-control-label" for="label">Audit Description</label>
          <textarea name="name" formControlName="auditDescription" type="text" class="form-control" placeholder="Audit Description" rows="8" cols="80"></textarea>
      </div>
      <div class="row">
        <div class="col-1">
          <button class="btn btn-primary"  (click)="moveToStage(4)">Back</button>
        </div>
        <div class="col-9">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
