/* after changing this file run 'npm run webpack:build' */

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
@import 'bootstrap-variables';
// Import Bootstrap source files from node_modules
@import '~bootstrap/scss/bootstrap';
// Import Angular Material Theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ngx-toastr/toastr.css';

/* jhipster-needle-scss-add-vendor JHipster will add new css style */
table {
    max-height: 470px;
    overflow: auto;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

.table-item {
    border-bottom: 1px solid #ddd;
}

.table-item:hover {
    background-color: #f5f5f5;
    .fade-in {
        opacity: 1;
        margin-left: 0px;
    }
}

.table-detail {
    background-color: #ffffcc;
    border-bottom: 1px solid #ddd;
}

.fade-in {
    opacity: 0;
    margin-left: 50px;
    transition-property: opacity, margin-left;
    transition-duration: 0.75s, 0.75s;
    -webkit-transition-property: opacity, margin-left;
    -webkit-transition-duration: 0.75s, 0.75s;
}

.highlight {
    border: 2px solid #000;
    background-color: #d9d9d9;
}

.highlight:hover {
    .fade-in {
        opacity: 1;
        margin-left: 0px;
    }
}

.action-form {
    margin-bottom: 40px;
}

.action-buttons {
    margin-bottom: 5px;
    opacity: 1;
}

.action-buttons-closed {
    margin-bottom: 5px;
    opacity: 0;
}

.change-row {
    margin-top: 15px;
}
